@font-face {
    font-family: 'diner-fattregular';
    src: url('../fonts/Diner-Fatt-webfont.eot');
    src: url('../fonts/Diner-Fatt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Diner-Fatt-webfont.woff') format('woff'),
         url('../fonts/Diner-Fatt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #0e0d0d;
    font-family: 'diner-fattregular';
    font-size: 1.5em;
    height: 15vh;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    height: 1em;
    position: relative;
    top: 10%;
    left: 30%;
}

header > img {
    position: relative;
    right: 350px;
    max-width: 100%;
}

nav {
    align-self: flex-end;
    width: 50%;
    height: 1.5em;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

nav > ul > li {
    margin-right: 5%;
    letter-spacing: 2px;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    margin-bottom: 10%;
}

article:nth-child(1){
    align-self: flex-start;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}

article:nth-child(1) > section {
    display: inherit;
    flex-direction: column;
    justify-content: left;
    border-right: 3px solid black;
    margin-right: 10px;
    padding: 1em;
}

article:nth-child(2) {
    align-self: center;
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
}

article:nth-child(3) {
    align-self: flex-start;
    margin-left: 5%;
    display: inherit;
    flex-direction: column;
}

article:nth-child(3) > ul {
    list-style-type: none;
}

ul li {
    display: block;
    height: 100px;
}

ul li img {
    vertical-align: middle;
}
