@font-face {
    font-family: 'diner-fattregular';
    src: url('../fonts/Diner-Fatt-webfont.eot');
    src: url('../fonts/Diner-Fatt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Diner-Fatt-webfont.woff') format('woff'),
         url('../fonts/Diner-Fatt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Base style */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow: auto;
}

h1 {
    height: 1em;
    position: relative;
    top: 10%;
    left: 30%;
}

h2 {
    margin-bottom: 5%;
}

h4 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

/* Header style */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #0e0d0d;
    font-family: 'diner-fattregular';
    font-size: 1.5em;
    height: 5em;
    width: 100%;
}

/* Logo style */
header > img {
    position: relative;
    right: 350px;
    max-width: 100%;
}

/* menu style */
nav {
    align-self: flex-end;
    width: 50%;
    height: 1.5em;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

nav > ul > li {
    margin-right: 5%;
    letter-spacing: 2px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #f4c315;
}

/* add flex to main to align content */
main {
    display: flex;
    flex-direction: column;
    background-image: url(../images/beers.jpg);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: ivory;
}

/* Separate article */
article {
    margin-bottom: 10%;
}

/* article style localisation */
article:nth-child(1){
    align-self: flex-start;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}

article:nth-child(1) > section {
    display: inherit;
    flex-direction: column;
    justify-content: left;
    border-right: 3px solid black;
    margin-right: 10px;
    padding: 1em;
}

/* Style A propos article */
article:nth-child(2) {
    background-color: #323132;
    background-size: 100%;
    width: 90%;
    padding: 1.2em;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
}

article:nth-child(2) > section {
    text-align: top;
    margin-right: 20%;
}

article:nth-child(2) > section::before {
    content: "â";
    position: relative;
    left: -10%;
    font-size: 40px;
}
/* Style Nous contacter article */
article:nth-child(3) {
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 5%;
    display: inherit;
    flex-direction: column;
}

article:nth-child(3) > ul {
    font-size: 1.5em;
}

article:nth-child(3) > ul > li {
    margin-bottom: 5%;
}

article:nth-child(3) > ul > li > a:hover {
    border-left: 3px solid rgb(0, 204, 0);
    padding: 0.5em;
}

/* Footer Style */
footer {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #323132;
    font-family: 'Roboto', sans-serif;
    color: ivory;
}

/* Footer content style */
aside {
    width: 33.3%;
}

/* List element style */
aside li {
    margin-bottom: 3%;
}

/* First aside style 
center the content */
aside:nth-child(1) {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

/* Style link when cursor hover link */
aside:nth-child(1) a:hover {
    border-left: 3px solid rgb(0, 204, 0);
    padding: 0.5em;
}

/* Second aside style 
There images allowed to styling border left and right of the aside */
aside:nth-child(2) {
    background-image: url(../images/sep.png), url(../images/sep.png);
    background-repeat: no-repeat no-repeat;
    background-position: left center, right center;
}
/* Third aside style, we juste style the list */
aside:nth-child(3) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}