@font-face {
    font-family: 'diner-fattregular';
    src: url('../fonts/Diner-Fatt-webfont.eot');
    src: url('../fonts/Diner-Fatt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Diner-Fatt-webfont.woff') format('woff'),
         url('../fonts/Diner-Fatt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #0e0d0d;
    font-family: 'diner-fattregular';
    font-size: 1.5em;
    height: 25vh;
}

header a {
    color: white;
    text-decoration: none;
}

#logo {
    height: 100px;
}

img {
    max-width: 100%;
}

nav {
    align-self: flex-end;
    width: 60%;
    height: 1.5em;
    margin-right: 20%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

nav > ul > li {
    letter-spacing: 2px;
}


